body {
  font-family: 'Times New Roman', Times, serif;
  margin: 50px 50px 50px 50px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

.logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: inline-block;
}

h1 {
  font-size: 5rem;
}

h2 {
  display: inline-block;
}

footer {
  text-align: right;
  color: midnightblue;
  font-size: 1em;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.about {
  clear:both;
}

.contact {
  clear:both;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
